.switch_btn {
    position: relative; 
    left: -40%; 
    top: 30px; 
    width: 10%; 
    height: 40px
}

.main {
    text-align:center; 
    height: 100%; 
    width: 100%;
}

.title_text {
    font-size: 50px;
}